@import "reset";

* {
    margin: 0;
    padding: 0;
}

p, ul {
    @extend %nospace;
}

.content {
    height: 100vh;
    width: 100vw;
    background: #666;
    display: flex;
    align-items: center;
}

.nav_li>a {
    display: block;
    padding: 20px 25px;
    background: #7c7c7c;
    transition-property: background-color;
    transition-duration: 1s;
    color: #e78e19;
    &:hover {
        background: #fff;
    }
}

ul {
    list-style: none;
}

.nav_li {
    position: relative;
    &:hover .submenu {
        opacity: 1;
        left: 100%;
        background-color: #363636;
    }

    &>a {
        display: block;
        padding: 20px 25px;
        background: #4e4e4e;
        transition-property: background-color;
        transition-duration: 1.5s;
        color: #ff5900;
        &:hover {
            background: #fff;
        }
    }
}

.navbar {
    z-index: 1;
}

.submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 100px;
    height: 100%;
    z-index: -1;
    left: -100%;
    top: -0;
    opacity: 0;
    transition-property: background-color opacity left;
    transition-duration: 1s;
    a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #fff;
    }
}