@import "reset2";

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local("assets/fonts/Montserrat Regular"), local("assets/fonts/Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}

body {
    font-family: 'Montserrat', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #757b82;
}

%style {
    text-transform: uppercase;
    background-color: #1225d6;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.card {
    position: relative;
    width: 371px;
    .card-header {
        width: 371px;
        height: 235px;
        background: url('../img/fjords.jpg');
        background-size: 371px 235px;
        background-position: 0 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        border-radius: 5px 5px 0 0;
        transition: all .3s ease-in-out;
        .card-mask {
            height: 100%;
            transition: all .3s ease-in-out;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
            border-radius: 5px 5px 0 0;
            .card-header-date {
                @extend %style;
                float: right;
                margin: 20px 20px 0 0;
                border-radius: 100%;
                font-weight: bold;
                padding: 12px 15px;
                line-height: 15px;
                .card-header-day {
                    font-size: 18px;
                }

                .card-header-month {
                    font-size: 11px;
                }
            }
        }
    }

    &:hover .card-header {
        background-size: 403px 267px;
    }

    &:hover .card-mask {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .card-body {
        background-color: #FFF;
        padding: 0 26px 26px 26px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        border-radius: 0 0 5px 5px;
        .card-body-header {
            position: absolute;
            left: 0;
            padding: 26px;
            background-color: #fff;
            transition: all .3s ease-in-out;
            .card-body-category {
                @extend %style;
                position: absolute;
                font-size: 13px;
                top: -31px;
                left: 0;
                padding: 8px 14px;
                line-height: 15px;
            }

            h1 {
                color: #23282D;
                letter-spacing: -1px;
                font-size: 24px;
                font-weight: bold;
            }

            .card-body-sentence {
                color: #1225d6;
                margin-top: 14px;
                font-size: 19px;
            }
            
        }

        .card-body-description {
            opacity: 0;
            color: #757b82;
            line-height: 30px;
            transition: all .2s ease-in-out;
            min-height: 150px;
        }

        .card-body-footer {
            position: relative;
            z-index: 10;
            margin-top: 14px;
            font-size: 14px;
            color: #9FA5A8;
            // Positionnement dans le footer
            display: flex;
            justify-content: space-around;
        
            i {
                padding-right: 6px;
            }
        }
    }

    &:hover .card-body-header {
        margin-top: -141px;
    }

    &:hover .card-body-description {
        opacity: 1;
        transition: all .5s ease-in-out;
    }
}